body, html {
    height: 100%;
    margin: 0;
    font-family: "Segoe UI", Verdana, sans-serif;
}

.login-page {
    background-color: #1CA2F2;
    color: #FFFFFF;
    text-align: center;
    padding-top: 80px;
}

.login-div {
    color: #1CA2F2;
    text-align: center;
    padding-top: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px; 
    height: 250px; 
    background-color: #FFFFFF; 
    border-radius: 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-account-page {
    background-color: #1CA2F2;
    color: #FFFFFF;
    text-align: center;
    padding-top: 80px;
}

.new-account-div {
    color: #1CA2F2;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 290px; 
    height: 320px; 
    background-color: #FFFFFF; 
    border-radius: 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.wing-div {
    width: 50%;
    height: 100%;
    background-color: #1CA2F2;
    margin: 0px;
    float: left;
    overflow: hidden;
}

.wing {
    width: 108%;
    display: block;
}

#date {
    color: #2D3033;
}

#time {
    color: #2D3033;
}

.page-content{
    background-color: #FFFFFF;
    width: 50%;
    height: 100%;
    float: left;
    padding-top: 10%;
    padding-left: 20px;
}



#footer {
    text-align: center;
    clear: both;
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #FFFFFF; 
    color: #2D3033; 
}

.navbar {
    color: #2D3033;
    width: 70%;
    float: right;
    padding: 15px;
}

.navbar-posts {
    background-color: #1CA2F2;
    padding: 20px;
}

.login {
    font-weight: bold;
    float: right;
    white-space: nowrap; 
}

.create-account {
    font-weight: bold;
    float: right;
    white-space: nowrap;
    margin-right: 20px; 
}

.add-post, .logout {
    font-weight: bold;
    float: right;
    white-space: nowrap; 
    margin-right: 20px;
}

.logged-in-user {
    font-weight: bold;
    white-space: nowrap; 
}

.posts-page {
    background-color: #E6ECF0;
}

.h1-posts {
    color: #2E2625;
    padding: 20px;
    text-align: center;
}



#charCount {
        color: #1CA2F2;
        margin-left: 10px;
    }

    .posts-div {
        color: #2E2625;
        width: 80%;
        max-width: 1000px;
        min-height: 50vh; 
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column; 
        margin: 20px auto; 
    }
    
    .posts-div li {
        margin-bottom: 20px; 
        width: 100%; 
        box-sizing: border-box; 
        padding: 20px; 
        background-color: #FFFFFF;
        list-style: none; 
        border-radius: 8px;
    }
    
.new-posts-div {
        color: #2E2625;
        text-align: center;
        width: 80%;
        max-width: 1000px;
        min-height: 50vh; 
        background-color: #FFFFFF;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px auto; 
    }

.new-post-page {
    background-color: #E6ECF0
}

.h1-new-posts {
    color: #1CA2F2;
    padding: 20px;
}

.username-posts {
    float: right;
    margin-right: 20px;
    font-size: 13px;
}