<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Chitter</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/styles.css') }}">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="clock_style.css">
  <script src="https://kit.fontawesome.com/a68f063352.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&family=Sacramento&family=Ubuntu&display=swap" rel="stylesheet">
</head>



<body>

<div class="wing-div">
    <img src="{{ url_for('static', filename='images/wings.png') }}" alt="wing-img" class="wing">
</div>


<div class="page-content">
<h5>See what's happening in the world right now... </h5>
<br> 
<div>

    <button type="button" class="btn btn-primary" style="background-color: #1CA2F2;"><a href="/posts" style="color: #FFFFFF; text-decoration: none;">View Posts</a></button>
    <button type="button" class="btn btn-primary" style="background-color: #1CA2F2;"><a href="/newaccount" style="color: #FFFFFF; text-decoration: none;">Create Account</a></button>
</div>

<br>


<h3>Login</h3>
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-danger">
    {{ messages[0] }}
</div>
{% endif %}
{% endwith %}
<form action="{{ url_for('get_homepage') }}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username"><br><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="user_password"><br><br>
    <input type="submit" value="Submit" class="btn btn-primary" style="background-color: #1CA2F2;">
</form>
<br>



</div>



<footer id="footer">
<p>© Chitter Image by <a href="https://www.freepik.com/free-vector/variety-flat-wings-blue-tones_1144522.htm#query=bird%20wing&position=2&from_view=search&track=ais&uuid=ab328426-9767-4822-88fd-70dfa72f1d36">Freepik</a></p>
</footer>


</body>


</html>