<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body class="login-page">
    <h1>Login</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-danger">
        {{ messages[0] }}
    </div>
    {% endif %}
    {% endwith %}
    <div class="login-div">
        <form action="{{ url_for('get_login') }}" method="post">
            {% if errors %}
                <p class="t-errors">
                    Your submission contains errors: {{ errors | join(", ") }}
                </p>
            {% endif %}
            <p>
                <label for="username">Username</label><br>
                <input type="text" name="username" id="username">
            </p>
            <p>
                <label for="user_password">Password</label><br>
                <input type="password" name="user_password" id="user_password">
            </p>
            <p>
                <button type="submit" class="btn btn-primary" style="background-color: #1CA2F2; color: #FFFFFF;">
                    Login
                </button>
            </p>
        </form>
    </div>
</body>
</html>
