<!DOCTYPE html>
<html lang="en">
 <head>
    <title>New Account</title>
    <meta charset="utf-8">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/styles.css') }}">
 </head>
 <body class="new-account-page">

    <h1>New Account</h1>
    <div class="new-account-div">
    <form action="/newaccount" method="post">
        {% if errors %}
            <p class="t-errors">
                Your submission contains errors:
                {{errors | join(", ")}}
            </p>
        {% endif %}
      <p>

        <label for="username">Username</label>
        <br>

        <input type="text" name="username" id="username">
      </p>
      <p>
        <label for="email">Email</label>
        <br>
        <input type="text" name="email" id="email">
      </p>
      <p>
        <label for="user_password">Password</label>
        <br>
        <input type="text" name="user_password" id="user_password">
      </p>
      
      <p>
        <button type="submit" class="btn btn-primary" style="background-color: #1CA2F2;">Create Account</button>
      </p>
    </form>
 </div>
 </body>
</html>